In [ ]:
## Note: Below:
## Choosing to repeat the imports and create_engine()
##  statements in most cells.
## Not needed but helps to see at each example
##  what we are connected to.

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
from sqlalchemy import create_engine, text

connection_string = "sqlite:///test.db"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:
    result = conn.execute( text("SELECT * FROM booking") )
    rows = result.all()

print(rows)

In [ ]:
## Using just result (rather than rows=result.all())
## to iterate over returned data
from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:
    result = conn.execute( text("SELECT fname, lname FROM staff") )
    
for row in result:
    print(row)

In [ ]:
## Using 'named tuples' aspect of SQLAlchemy results
from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:
    result = conn.execute( text("SELECT fname, lname FROM staff") )

for fname, lname in result:
    print(f"Staff member: {fname}, with last name {lname}")

In [ ]:
## Using parameters to protect against SQL Injection
from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

## Below: the SQLAlchemy `text` object accepts `:` to identify a named parameter
##        The second parameter to execute( , <here> ) 
##        allows a dict to define a value for the parameter
with engine.connect() as conn:
    result = conn.execute( text("SELECT fname, lname FROM staff WHERE lname = :lname"), {"lname": "Beech"}  ) 

for fname, lname in result:
    print(f"Staff member: {fname}, with last name {lname}")

In [ ]:
## To send multiple parameters you send a list of 
##      dict (each containing) 
##  "key_as_string": "val_as_string"

from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:

    conn.execute(                       
        text("INSERT INTO staff VALUES (:staffNo, :fname, :lname, :position, :sex, :dob, :salary, :branch_id)"),

            [ 
              {"staffNo": "SME99", "fname": "Susan", "lname": "Brand", "position": "Manager", "sex": "F", "dob": "1960-06-03", "salary": 24000, "branch_id": "B003"},
              {"staffNo": "SME98", "fname": "Julie", "lname": "Lee", "position": "Assistant", "sex": "F", "dob": "1985-06-13", "salary": 9000, "branch_id": "B005"}
            ],
    )
    conn.commit()

In [ ]:
## See inserted now:
with engine.connect() as conn:
    result = conn.execute( text("SELECT fname, lname FROM staff") )

for fname, lname in result:
    print(f"{fname}, \t {lname}")

In [ ]:
## Passing SQL as a String and data as a list of dict
from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

## Below: SQL stores the Query with the SQLAlchemy `:` param
SQL = "SELECT fname, lname FROM staff WHERE lname = :lname"
data = [{"lname": "Beech"}]
with engine.connect() as conn:
    result = conn.execute( text(SQL), data ) 

for fname, lname in result:
    print(f"Staff member: {fname}, with last name {lname}")

In [ ]:
## Passing SQL as a text()
from sqlalchemy import create_engine, text
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

#SQL is an sqlalchemy 'text()' obj this time
SQL = text("SELECT fname, lname FROM staff WHERE lname = :lname")
data = [{"lname": "Beech"}]
with engine.connect() as conn:
    result = conn.execute( SQL, data )              #can read better

for fname, lname in result:
    print(f"Staff member: {fname}, with last name {lname}")

In [ ]:
## USING SQLALchemy ORM Session
## - Wrapping the engine in a Session object
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

SQL = text("SELECT fname, lname FROM staff WHERE lname = :lname")
data = [{"lname": "Beech"}]

with Session(engine) as session:                      #Session(engine)
    result = session.execute( SQL, data )             #  ... otherwise appears the same

for fname, lname in result:
    print(f"Staff member: {fname}, with last name {lname}")

In [ ]:
## Using SQLAlchemy ORM Session to 
##  Show a python view of the Staff data returned
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session              
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

SQL = text( "SELECT fname, lname, position FROM staff")
with Session(engine) as session:    
    result = session.execute(SQL)               #session.execute(SQL)

for fname, lname, position in result:           #print results
    print("Staff member: ", end='')
    print(f"{fname}, {lname}, {position}")

In [ ]:
## Using SQLAlchemy ORM Session to 
##  show DELETE with multiple parameters 
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session              
connection_string = "sqlite:///dreamhome.db"
engine = create_engine(connection_string, echo=True)

with Session(engine) as session:
    ##  note: SQL TABLE column-name is 'staffNo'
    ##        but choosing param-name ':staff_no'
    session.execute(                       
        text("DELETE FROM staff WHERE staffNo = :staff_no"),

            [ #Sending Multiple params will execute DELETE for each 
              {"staff_no": "SME99"},            
              {"staff_no": "SME98"}
            ],
    )
    session.commit()

# open another `with` block o view the resultant table after DELETE
with engine.connect() as conn:
    result = conn.execute( text("SELECT fname, lname FROM staff") )

for fname, lname in result:
    print(f"{fname}, \t {lname}")

In [ ]:
## Test psycopg2 working in the notebook
import psycopg2

In [ ]:
## CHANGE to Postgres+psycopg2
##  parameterised query `dvdrental` DB
##  to get customers with first_name = "Mary"
##  
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session

# an Engine, which the Session will use for connection
# resources
engine = create_engine("postgresql+psycopg2://testuser:test123@localhost/dvdrental")
SQL = text( "SELECT first_name, last_name, email FROM customer WHERE first_name = :first_name")
data = [{"first_name": "Mary"}]

# create session and add objects
with Session(engine) as session:
    result = session.execute(SQL, data)               #session.execute(SQL, data)

for first_name, last_name, position in result:           #print results
        print(f"{first_name}, \t {last_name}")

In [ ]:
## NEW SECTION
## SQLAlchemy ORM

In [ ]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()          #call fn declarative_base()    

print(Base)

In [ ]:
from sqlalchemy.orm import DeclarativeBase

class Base(DeclarativeBase):    #inherit from DeclariativeBase
    pass             

print(Base)

In [ ]:
# Creating an ORM 
# `User` Object to represent a DB Table 'user'
from sqlalchemy.orm import DeclarativeBase, mapped_column
from sqlalchemy import Integer, String 

class Base(DeclarativeBase):
    pass

class User(Base):                       #Note: class-attributes
    __tablename__ = "user"

    id    = mapped_column(Integer, primary_key=True)
    name  = mapped_column(String(30), nullable=False)

    def __repr__():
        return f"User( {self.id},  {self.name}"

In [ ]:
## Using the ORM class to create 
##  and equivalent table in the DB
from sqlalchemy.orm import DeclarativeBase, mapped_column
from sqlalchemy import Integer, String 

class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "user"

    id    = mapped_column(Integer, primary_key=True)
    name  = mapped_column(String(30), nullable=False)


# SQLAlchemy to create the engine
from sqlalchemy import create_engine

connection_string = "sqlite:///sql_alch_orm.db"
engine = create_engine(connection_string, echo=True)

# Call on the ORM to create the table
Base.metadata.create_all(engine)

# See `sql_alch_orm.db` file appear in working-folder

In [ ]:
##  and equivalent table in the DB
from sqlalchemy.orm import DeclarativeBase, mapped_column
from sqlalchemy import Integer, String 

class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "test_user"

    id    = mapped_column(Integer, primary_key=True)
    name  = mapped_column(String(30), nullable=False)


# SQLAlchemy to create the engine
from sqlalchemy import create_engine

connection_string = "postgresql+psycopg2://testuser:test123@localhost/dvdrental"
engine = create_engine(connection_string, echo=True)

# Call on the ORM to create the table
Base.metadata.create_all(engine)

# See `user` file appear in working-folder

In [ ]:
from sqlalchemy.orm import DeclarativeBase, mapped_column
from sqlalchemy import Integer, String 
from sqlalchemy import ForeignKey


class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "test_user"
    id          = mapped_column(Integer, primary_key=True, autoincrement=True)
    name        = mapped_column(String(30), nullable=False)
    alias       = mapped_column(String(30))

    def __repr__(self) -> str:
        return f"User(id={self.id}, name={self.name}, alias={self.alias})"

class Email(Base):
    __tablename__ = "test_user_email"
    id              = mapped_column(Integer, primary_key=True)
    email_address   = mapped_column(String(30))
    user_id         = mapped_column(ForeignKey("test_user.id"))     #declares the foreign key

    def __repr__(self) -> str:
        return f"Email(id={self.id}, email_address={self.email_address})"
    

# SQLAlchemy to create the engine
from sqlalchemy import create_engine

connection_string = "postgresql+psycopg2://testuser:test123@localhost/dvdrental"
engine = create_engine(connection_string, echo=True)

# Call on the ORM to create the table
Base.metadata.create_all(engine)

# See e.g.: psql: \d test_user
#                 \d test_user_email
# Try with:
# connection_string = "sqlite:///sql_alch_orm.db"

In [ ]:
rob = User(name="robert", alias="rob")
tim = User(name="timothy", alias="tim")

print( rob )
print( tim )

In [ ]:
from sqlalchemy import create_engine

connection_string = "postgresql+psycopg2://testuser:test123@localhost/dvdrental"
engine = create_engine(connection_string, echo=True)

with Session(engine) as session:
    session.add(rob)
    session.add(tim)
    session.commit()

In [ ]:
with Session(engine) as session:
    users = session.query(User).all()

for user in users:
    print(user)
    print(f"name: {user.name}, alias: {user.alias}")

In [ ]:
rob_email = Email(email_address="rob@tester.com")
tim_email = Email(email_address="tim@tester.com")

print( rob_email )
print( tim_email )

In [ ]:
from sqlalchemy import create_engine

connection_string = "postgresql+psycopg2://testuser:test123@localhost/dvdrental"
engine = create_engine(connection_string, echo=True)

with Session(engine) as session:
    session.add(rob_email)
    session.add(tim_email)
    session.commit()

In [ ]:
with Session(engine) as session:
    emails = session.query(Email).all()

for email in emails:
    print(email)

for email in emails:
    print(f"email: {email.email_address}, user_id: {email.user_id}")

In [ ]:

with Session(engine) as session:
    email_1 = session.get(Email, 1)
    email_2 = session.get(Email, 2)
    session.commit()

print(email_1)
print(email_2)

In [ ]:
# A starter UPDATE
#Note: this is over-simplified:
#      but just serves to show how an update can be done
with Session(engine) as session:
    email_1 = session.get(Email, 1)
    email_1.user_id = 1                 #UPDATE
    email_2 = session.get(Email, 2)
    email_2.user_id = 2                 #UPDATE
    session.commit()

In [ ]:
# A starter JOIN

with Session(engine) as session:
    query_result = session.query(User, Email).join(Email).all()

print(query_result)

for user, email in query_result:
    print(f"User: {user.name}, Email: {email.email_address}")

In [ ]:
# A starter DELETE
with Session(engine) as session:
    email_1 = session.get(Email, 1)
    session.delete(email_1)
    session.commit()

In [ ]:
## Don't forget: can still use SQL directly
##  Note: issue: may not work on all engines
#        (Need to use: text()...)
with Session(engine) as session:
    session.execute("DELETE FROM test_user_email")  #see error, then fix
    session.commit()

In [ ]:
## Filtering with session.query(Table).filter(<predicate>).all()

In [ ]:
## Example search for user name starts with
##  See SQL generated...
with Session(engine) as session:
    user_r = session.query(User).filter(User.name.startswith('r')).all() 
    print(user_r)


print("="*50)
# note: without the .all() it's just building the query
with Session(engine) as session:
    print( session.query(User).filter(User.name.startswith('r')) )

In [ ]:
## Example search for email_address contains...
##  See SQL generated...
with Session(engine) as session:
    tester_dot_com = session.query(Email).filter(Email.email_address.contains('tester.com')).all() 

for email in tester_dot_com:
    print(f"found tester.com address: {email}")